@using GiantNationalBankClient.Models
@model GetAccountResponseModel
@{
    ViewData["Title"] = "User Account";
}

<section>
    <h2>Account Number: @Model.account.AccountID</h2>
</section>

<section class="dashboardLinks">
    <ul>
        <li class="nav-item">
            <a href="javascript: history.go(-1)">Back to Accounts</a>
        </li>
    </ul>
</section>

<section>
    <table class="table table-sm table-striped table-bordered m-2">
        <thead>
            <tr>
                <th>Transaction ID</th>
                <th>Transaction Type</th>
                <th>Transaction Name</th>
                <th>Amount</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var transaction in Model.account.transactionList)
            {
                    <tr>
                        <td>@transaction.TransactionID</td>
                        <td>@transaction.TransactionType</td>
                        <td>@transaction.TransactionName</td>
                        <td>@transaction.Amount</td>
                    </tr>
            }
            <tr>
                <td></td>
                <td></td>
                <td></td>
                <td>Balance: @Model.account.Balance</td>
            </tr>
        </tbody>
    </table>
    <section>
        <form asp-controller="Admin" asp-action="ChargeAccount" method="get">
            <input type="hidden" value="@Model.account.AccountID" name="accountID" id="accountID"/>
            <p>Transaction Name:
            <input type="text" name="name" id="name" placeholder="Name"/></p>
            <p>Enter Amount: 
            <input type="text" placeholder="Amount" name="amount" id="amount"/></p>
            <br />
            <p>Transaction Type: @Html.DropDownList("chargetype", new List<SelectListItem>
                    {
                        new SelectListItem{ Text = "Credit", Value = "Credit"},
                        new SelectListItem{ Text = "Debit", Value = "Debit"},

                    })
            </p>
            
            <input type="submit" value="Submit Transaction"/>
        </form>
    </section>
</section>